OPENAI_BASE_URL="https://ai.spuric.com/v1"
OPENAI_API_KEY="your_spur_api_key_here"
#  It is recommended to use a separate API key for each project.
#  You can create a new API key from the API Keys section of your dashboard.
# you can also use ollama Local models for this project